@page
@model TherapyDigitally.chatModel
@{
    ViewData["Title"] = "chat";
}
<div class="text-center">
    <h1>Chat With A Bot To Generate a Curated Activity</h1>
</div>
<div id="chatHub">
    <div class="card border-primary" style="width:90%;margin-top:5%;margin-left:5%">
        <div class="card-body">
            <h5 class="card-title text-center">Chat</h5>
            <hr />
            <div >
                <ul class="list-group list-group-flush" id="chat" style="overflow-x:hidden;overflow-y:auto;height:400px">
                    <li class="list-group-item text-left">
                        <h6 class="text-info">Marcus</h6>
                        Hey there! How are you feeling today?
                    </li>
                </ul>
            </div>
        </div>
        <div class="input-group">
            <input type="search" id="message" class="form-control" placeholder="Your Message" style="width:70%;margin-bottom:5px;margin-left:5px"/>
            <button class="btn btn-primary form-control" id="send" onclick="userMessage('@Model.newTicket.id','@Model.currentUser.Email.Split('@')[0]')" style="height:45px;margin-right:5px"><i class="fas fa-caret-up"></i></button>
        </div>
    </div>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/ticketManager.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">